@page "/entrylist"

@using wwdt_ui.Data
@inject EntryService EntryService

<h1>Entry</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (entries == null)
{
<p><em>Loading...</em></p> }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Who</th>
                            <th>When</th>
                            <th>What</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entry in entries)
                        {
        <tr>
            <td>@entry.Id</td>
            <td>@entry.Who</td>
            <td>@entry.When</td>
            <td>@entry.What</td>
            <td><button @onclick="(() => ShowModal(entry))" class="btn btn-primary">Show Modal</button></td>
        </tr>}
                    </tbody>
                </table>}

@code {
    private Entry[] entries;
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        entries = await EntryService.GetEntryAsync();
    }

    [CascadingParameter] public IModalService Modal { get; set; }

    async Task ShowModal(Entry entry)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(DisplayMessage.Id), entry.Id);

        var messageForm = Modal.Show<DisplayMessage>("Passing Data", parameters);
        var result = await messageForm.Result;
    }
}
